html {
    background-color: #f0f0f0;
    padding: 0;
    height: 100%;
}
body {
    padding: 2rem 4rem;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #000000c0;
    background-color: white;
    max-width: 40rem;
    min-height: 100%;
    margin: auto;
    font-size: 1.2rem;
}

#overlay-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}